@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.container {
  /* max-width: 1280px; */
  margin: 0 auto;
  width: 100%;
}
.header {
  display: flex;
  height: calc(100vh - 50px);
  flex-direction: column;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  max-width: 1280px;
  /* box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.082); */
}

.form {
  margin: auto;
}

.header__title {
  animation: color 8s ease normal infinite;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.header__container {
  max-width: 500px;
  margin: auto 0;
  /* margin-left: 25%; */
  z-index: 1;
}
.header__subtitle {
}

.header__box {
  width: 350px;
  height: 350px;
  background-color: #009ee2;
  position: absolute;
  top: calc(50% - 175px);
  right: 0px;
  rotate: 80deg;
  animation: rotate 8s ease normal infinite;
}

.header__arrow {
  width: 50px;
  height: 50px;
  background-image: url(./arrowdown.svg);
  background-size: contain;
  margin: 0 auto;
  background-position: 0;
  animation: arrow 0.65s ease-in-out normal infinite;
}

@keyframes color {
  0% {
    color: #009ee2;
  }
  50% {
    color: #ff9fff;
  }
  100% {
    color: #009ee2;
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
    background-color: #009ee2;
    right: 0px;
  }
  50% {
    background-color: #ff9fff;
    right: 300px;
  }
  100% {
    rotate: -360deg;
    background-color: #009ee2;
    right: 0px;
  }
}

@keyframes arrow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 50px;
  }
}
/* .main {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
} */
.section {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: left;
  /* margin-bottom: 15px; */
  margin: 0 10px 15px 10px;
  min-height: 500px;
  /* min-width: 1024px; */
  max-width: 1280px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082); */
  padding: 32px;
  margin: 0 auto;
}

.section__title {
  margin: 0px 0 10px 15px;
  font-size: 42px;
}

.section__text {
  margin-left: 50px;
  margin-right: 15px;
  font-size: 21px;
  margin: 0 15px 20px 50px;
}

.card {
  margin: auto 0;
  display: block;
}

.card__items {
  padding: 0;
  margin: 0 15px 0 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card__item {
  padding: 32px;
  border-radius: 20px;
  background-color: #fff;
  transition: 0.25s ease-out;
  flex: 1 1 calc(50% - 20px);
  margin: auto;
  position: relative;
  height: 250px;
  box-sizing: border-box;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082); */
}

.criteria {
  background-color: #009ee21c;
  max-width: none;
  width: 100%;
  margin: 0;
  border-radius: 0;
}
.criteria__container {
  max-width: 1280px;
  margin: 0 auto;
}

.card__item:hover {
  background-color: #009ee2;
}
.card__item:hover .card__item-text {
  color: white;
}

.card__item-text {
  margin: 0 0 15px;
  transition: 0.2s ease-out;
  display: block;
  text-align: center;
}

.card__item-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  height: calc(100% - 35px);
}

.card__item-list-item {
  flex: 1 1;
  border-radius: 10px;
  background-color: #009ee2;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  /* text-align: center; */
  transition: all 0.2s ease-out;
}

.card__item:hover .card__item-list-item {
  background-color: #fff;
}
.card__item:hover .card__item-list-item {
  color: #009ee2;
}

.video {
  margin: 0 auto;
}
