@import url(../../animations/color.css);

.header__title {
  animation: color 8s ease-in-out normal infinite;
  text-shadow: 0px 0px 0 rgb(232, 136, 232), 1px 1px 0 rgb(219, 123, 219),
    2px 2px 0 rgb(206, 110, 206), 3px 3px 0 rgb(193, 97, 193),
    4px 4px 0 rgb(180, 84, 180), 5px 5px 0 rgb(167, 71, 167),
    6px 6px 0 rgb(154, 58, 154), 7px 7px 0 rgb(141, 45, 141),
    8px 8px 0 rgb(128, 32, 128), 9px 9px 8px rgba(0, 0, 0, 0.3),
    9px 9px 1px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(0, 0, 0, 0.2);
  /* font-family: Arial, Helvetica, sans-serif; */
  transition: all .3s ease;
  text-transform: uppercase;
}

@keyframes color {
  0% {
    color: #009ee2;
    text-shadow: 0px 0px 0 rgb(-36, 122, 190), 1px 1px 0 rgb(-62, 96, 164),
      2px 2px 0 rgb(-88, 70, 138), 3px 3px 0 rgb(-114, 44, 112),
      4px 4px 0 rgb(-140, 18, 86), 5px 5px 4px rgba(0, 0, 0, 0.3),
      5px 5px 1px rgba(0, 0, 0, 0.5), 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  50% {
    color: #ff9fff;
    text-shadow: 0px 0px 0 rgb(232, 136, 232), 1px 1px 0 rgb(219, 123, 219),
      2px 2px 0 rgb(206, 110, 206), 3px 3px 0 rgb(193, 97, 193),
      4px 4px 0 rgb(180, 84, 180), 5px 5px 0 rgb(167, 71, 167),
      6px 6px 0 rgb(154, 58, 154), 7px 7px 0 rgb(141, 45, 141),
      8px 8px 0 rgb(128, 32, 128), 9px 9px 8px rgba(0, 0, 0, 0.3),
      9px 9px 1px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  100% {
    color: #009ee2;
    text-shadow: 0px 0px 0 rgb(-36, 122, 190), 1px 1px 0 rgb(-62, 96, 164),
      2px 2px 0 rgb(-88, 70, 138), 3px 3px 0 rgb(-114, 44, 112),
      4px 4px 0 rgb(-140, 18, 86), 5px 5px 4px rgba(0, 0, 0, 0.3),
      5px 5px 1px rgba(0, 0, 0, 0.5), 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
}
