.content__section {
  margin: 15px auto;
  padding: 30px 30px;
  border-radius: 20px;
  background-color: var(--background-section-color);
  text-align: left;
}
.content__section:nth-child(1) {
  margin-top: 0;
}
