.example__correct {
  border: 5px solid #afff9b;
  /* padding: 0 0 25px; */
  /* box-sizing:content-box; */
  background-color: #afff9b;
  border-radius: 15px;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.example__correct > img {
  max-width: 100%;
}

.example__text {
  max-width: 325px;
  text-align: center;
  padding: 0 10px;
}