.rate__container__stars {
  cursor: pointer;
  color: white;
  /* background-image: linear-gradient(90deg, rgba(0,158,226,0.31976540616246496) 0%, rgba(255,159,255,0.2189250700280112) 100%); */
  transition: 0.5s ease;
  background-clip: text;
}

.rate__container__stars:hover {
  background-image: linear-gradient(90deg, rgba(0,158,226,1) 0%, rgba(255,159,255,1) 100%);
  background-clip: text;
  color: transparent;
  transform: scale(1.2);
}
.rate__container__stars:hover ~ span {
  color: transparent;
  background-image: linear-gradient(90deg, rgba(0,158,226,1) 0%, rgba(255,159,255,1) 100%);
  background-clip: text;
}